{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{%endblock%}

{% block body %}
    {{parent()}}
      
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-12'>
                <h2> Visite de {{patient.nom}} {{patient.prenom}} du {{visite.date|date('d-m-Y')}}</h2>
                <div>
                    <p> Motif : {{visite.motif}}</p>
                </div>   
                <div>
                    <p> Observations : {{visite.observations}} 
                </div>
        </div>
    </div>
    <div id="divReglement">
            <a href="{{ path('reglement_visite',{'idVisite': visite.id, 'modeRegl': "cheque"})}}"><input type="button"  class="btn btn-primary" value="Chèque"> </a>
            <a href="{{ path('reglement_visite',{'idVisite': visite.id, 'modeRegl': "espece"})}}"><input type="button"  class="btn btn-primary" value="Espèce"> </a>
    </div>
    <div id ='btRetour' >
            <a href="{{ path('historique_visite_patient',{'idPatient': patient.id })}}"><input type="button"  class="btn btn-primary" value="Retour"> </a>
            {%if visite.prescription is  not empty %} <i> </i>
                <a href="{{ path('fiche_prescription',{'idPrescription':visite.prescription.id})}}"><input type="button"  class="btn btn-primary" value="Voir la prescription"> </a>
            {% else %}
                 <a href="{{ path('creer_prescription',{'idVisite':visite.id})}}"><input type="button"  class="btn btn-primary" value="Prescription"> </a>
            {% endif %}
            
           
            
            {%if reglement == 1%}
                <i> Il existe déjà un réglement pour cette visite !</i> 
            {% else %}
                <a><input type="button" id="btReglement" class="btn btn-primary" value="Réglement"> </a>
            {% endif %}
    </div>
       
{%endblock%}
{% block javascripts %}
       {{parent()}}
     <script src="{{asset('assets/js/visitePatient.js')}}">    </script>   
{% endblock %}