{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{%endblock%}

{% block body %}
    {{parent()}}
    
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-12'>
                <button class="tablink" onclick="openPage('informations', this, 'white')"id="defaultOpen">Informations</button>
                <button class="tablink" onclick="openPage('suiviMedical', this, 'white')" >Suivi médical</button>
                <button class="tablink" onclick="openPage('antecedents', this, 'white')">Antédécents</button>
            </div>
        </div> 
        <div class='row'>
            <div class='col-md-12'>
                <div class='col-md-12 tabcontent' id="informations"> 
                    <h3 class='sousTitre'>Informations générales</h3>
                    <div class='row'>
                        <div class='col-md-6'>
                           <p><b>Nom : </b>{{patient.nom}}</p>
                            <p> <b>Prénom :  </b>{{patient.prenom}}</p>
                            <p> <b>Date de naissance : </b> {{patient.dateNaiss|date('d-m-Y')}}</p>
                            <p> <b>Adresse : </b> {{patient.Adresse}}</p>
                            <p> <b>CP : </b> {{patient.CP}}</p>
                            <p> <b>Ville : </b> {{patient.Ville}}</p>
                            <p> <b>Téléphone : </b> {{patient.Telephone}}</p>
                            <p> <b>Mail : </b> {{patient.Mail}}</p>
                            <p> <b>Situation familiale : </b> {{patient.sitFam}}</p>
                            <p> <b> Nombre d'enfant(s) : </b> {{patient.nbEnfant}}</p>
                            <p> <b>Profession : </b> {{patient.Profession}}</p>
                        </div>
                        <div class='col-md-6'>
                            <p> <b>Actif : </b> {% if patient.actif  == true %} Oui {% else %} Non {% endif%} </p>
                            <p> <b>Accepte médecine non traditionelle : </b> {% if patient.accepteMedNonTradi  == true %} Oui {% else %} Non{% endif%} </p>
                            <p> <b>Accepte traitement par acupuncture : </b> {% if patient.accepteAcup  == true %}  Oui {% else %} Non{% endif%} </p>
                            {% if derniereVisite  %}
                            <p> <b> Dernière visite le : </b> {{derniereVisite.date|date('d-m-Y')}}</p>
                            <p>  <b>Motif : </b>{{derniereVisite.motif}}</p>
                            {%else%}
                                <p> <b>Première visite </b> </p>
                            {%endif%}
                            <p> <b>Observations : </b> {{patient.observations|nl2br }}</p>
                            <a href="{{ path('visite_patient',{'idPatient': patient.id}) }}">
                            <input type="button" class="btn btn-primary btsFichePatient" value="Nouvelle visite"></a>
                            <a href="{{ path('historique_visite_patient',{'idPatient': patient.id}) }}">
                            <input type="button" class="btn btn-primary btsFichePatient" value="Historique des visites">
                            <a href="{{ path('historique_prescriptions_patient',{'idPatient': patient.id,'page':1}) }}">
                            <input type="button" class="btn btn-primary btsFichePatient" value="Historique des prescriptions"></a>
                            <a href="{{ path('documents_patient',{'idPatient': patient.id}) }}">
                            <input type="button" class="btn btn-primary btsFichePatient" value="Document liés"></a>
                        </div>
                    </div>
                </div>
                <div id="suiviMedical" class='col-md-12 tabcontent'>       
                    <h3 class='sousTitre'>Suivi médical </h3>
                    <div class='row'>
                        <div class='col-md-4'>
                            <p> <b>Allergies : </b><br>{{patient.allergies}}</p>
                        </div>
                        <div class='col-md-4'>
                            <p> <b>Traitement en cours :</b><br>{{patient.traitementEnCours}}</p>
                        </div>
                         <div class='col-md-4'>
                        {% for medecin in medecinsPatient %}
                           <p><b>{{medecin.specialite.nom}} :</b> {{medecin.nom}} {{medecin.prenom}}
                               <a href='{{ path('retirer_medecin_patient',{'idPatient':patient.id,'idMedecin':medecin.id}) }}'>
                                   <i class="fas fa-times glyphSuppr" ></i>
                               </a>
                          </p>
                        {%endfor%}
                        <button class='btn btn-primary' onclick="document.location = '{{path('choix_medecin_patient',{"idPatient":patient.id})}}'">Ajouter un médecin</button>
                        </div>
                    </div>
                </div>
                <div id="antecedents" class='col-md-12 tabcontent'>
                    <h3 class='sousTitre'>Antécédents</h3>
                    <div class='row'>
                       <div class='col-md-4'>
                            <p> <b>Antédécents chirurgicaux : </b><br> {{patient.atcdChirurgical|nl2br}}</p>
                        </div>
                        <div class='col-md-4'>
                            <p> <b>Antédécents médicaux :  </b><br>{{patient.atcdMedical|nl2br}}</p>
                        </div>
                        <div class='col-md-4'>
                            <p> <b>Antédécents familiaux : </b> <br>{{patient.atcdFamiliaux|nl2br}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                <div class='MenuBasCentre'>
                    <button class="btn btn-primary" value="Retour" onclick="document.location = '{{ path('menu_patients',{'page':1}) }}'">Retour </button>
                    <button class="btn btn-primary" value="Retour" onclick="document.location = '{{ path('editer_patient', { 'id':patient.id }) }}'">
                    <i class="fas fa-edit" id=""></i> Modifier patient</button>
                </div>
            </div>
        </div>
    </div>
{%endblock%}
{% block javascripts %}
    <script src="{{asset('assets/js/fichePatient.js')}}"> </script>
{% endblock %}