{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{%endblock%}

{% block body %}
    {{parent()}}
    {% for message in app.flashes('warning') %}
    <div class="warning">
        <p class="center paragrapheExplicatif"><b>{{ message }}</b></p>
    </div>
    {% endfor %}
    <div class='container-fluid' id='headerVisitePatient'>
        <div class='row'>
            <div class='col-md-2'id="visitePatZoneNom" >
                <p><b>{{patient.nom }} <br>{{patient.prenom}}</b></p> 
            </div>
            <div class='col-md-4' id="visitePatZoneObs" >
                <p> <b>Observations : </b><br> {{patient.observations}}</p>
            </div>
            <div class='col-md-4' id="visitePatZoneAllergies" >
                <p> <b> Allergies : </b><br> {{patient.allergies}}</p>
            </div>
             <div class='col-md-2' id="visitePatZoneAllergies" >
                 <p> <b> Médecin traitant&nbsp: </b> 
                     {% for medecin in medecinsPatient %}
                        {% if medecin.specialite.affichageVisitePatient == 1 %} 
                          {{medecin.nom}} {{medecin.prenom}} ({{medecin.specialite.nom}})
                        {%endif%}
                 {%endfor%}</p>
                 <p> <b> Tolère acupuncture : </b> {% if patient.accepteAcup == 1 %} Oui {%else%} Non{%endif%}</p>
            </div>
        </div>
    </div>
    <div class='container-fluid encartFicheVisite' >
        <h1 class="titresH1"> Visite de {{patient.nom}} {{patient.prenom}} du {{visite.date|date('d-m-Y')}}</h1>
        <div class='row'>
            <div class='col-md-5' >
                <div>
                    <p> <b>Motif : </b>{{visite.motif}}</p>
                </div>   
                <div>
                    <p> <b>Observations : </b>{{visite.observations|nl2br}} </p>
                </div>
            </div>
            {%if visite.document %}
                <div class='col-md-4 ' style="overflow-y:auto;overflow-x:auto;text-align: right;">
                    <img style="height:20vh;" src="../../uploads/photos_visite/{{visite.document.path}}" alt="Photo liée à la visite">
                </div>
                <div class='col-md-3 ' >
                    <p><b> Observations : </b>{{visite.document.observations|nl2br}}</p>
                    <br><a href="{{path('supprimer_photo_visite',{'idVisite': visite.id})}}">
                    <input type="button"  class="btn btn-danger" id='btnSupprPhoto' value="Supprimer la photo"> </a>
                </div>
                
            {%else%}
                <div class='col-md-6 '>
                    <button onclick="document.location = '{{path('ajouter_photo_visite',{"idVisite":visite.id})}}';"class="btn btn-primary">Ajouter une photo</button>
                </div>
            {%endif%}
        </div>
        <div class='row '>
            <div class='col-md-6 zoneMaterielVisite'> 
                {%if listMateriels is not empty %}
                    <h3 class="titrePartie">Matériel utilisé</h3>
                    {% for materiel in listMateriels %}
                        <div class='col-md-5' style='display:inline-block;'> 
                            <a href='{{ path('retirer_materiel_visite',{'idUtilMatVisite':visite.utilisationsMaterielVisite[loop.index0].id}) }}'><i class="fas fa-times gliphDeleteMateriel" id="glyphEdit"></i></a>
                            <p><b>Nom  : </b>{{materiel.nom}}<br>
                                <b>Quantité  : </b>
                                {% if visite.utilisationsMaterielVisite[loop.index0].quantite is defined  %}
                                    {{visite.utilisationsMaterielVisite[loop.index0].quantite}}
                                {%endif%}<br> 
                                <b>N° de lot : </b> {{visite.utilisationsMaterielVisite[loop.index0].numLot}}<br>
                                <b>Catégorie : </b>{{materiel.categorie.nom}}
                                
                            </p>
                        </div>
                    {%endfor %}
                {%endif%}
                <br>
                <a href="{{path('choix_materiel_visite',{"idVisite":visite.id,'page':1})}}">
                <input type="button"  class="btn btn-primary marginBottomLeft" value="Ajouter un matériel"> </a>
            </div>
            <div class="col-md-5 zoneBtFichePat">
                {%if existPrescription == 1%}
                    <a href="{{ path('fiche_prescription',{'idPrescription':prescription.id})}}">
                    <input type="button"  class="btn btn-primary btFichePat" value="Voir la prescription"> </a>
                {% else %}
                   <button class="btn btn-primary btFichePat" onclick="document.location = '{{ path('creer_prescription',{'idVisite':visite.id})}}';">Prescription</button>
                {% endif %}
                 
                <button id="inputHono" class="btn btn-primary btFichePat">Note d'honoraire </button>
                <br>
               <button class="btn btn-primary btFichePat" onclick="document.location = '{{ path('historique_visite_patient',{'idPatient': patient.id })}}';">Historique</button>
                {%if existReglement == 1%}
                    <a href="{{ path('fiche_reglement',{'idReglement': reglement.id })}}">
                    <input type="button"  class="btn btn-primary btFichePat"  value="Voir le réglement"> </a>
                {% else %}
                    <button id="btReglement" class="btn btn-primary btFichePat"> Réglement</button>
                {% endif %}
            </div>
        </div>
        <div class="row" >
            <div class="col-md-12 center" style="display:none;margin-top:2vh;margin-bottom:2vh;" id="divHonoraire">
                <input id="montantHono" placeholder="Montant"> 
                <input id="typeSeanceHono" placeholder="Type de séance">
                <a id="lienGenerateHono" href="#">
                <input type="button" class="btn btn-primary" id="generateHono" value="Générer"></a>
            </div>
           <div class="col-md-12 center" style="display:none;margin-top:2vh;margin-bottom:2vh;" id="divReglement">
                <a href="{{ path('reglement_visite',{'idVisite': visite.id, 'modeRegl': "cheque"})}}"><button class="btn btn-primary">Chèque</button> </a>
                <a href="{{ path('reglement_visite',{'idVisite': visite.id, 'modeRegl': "espece"})}}"><button  class="btn btn-primary" >Espèces</button> </a>
            </div>
        </div>
        
    </div>
    <div class="MenuBasCentre">
            <a href="{{path('fiche_patient',{'id':patient.id})}}"><input type="button" value="Retour" class="btn btn-primary"></a>
    </div>
{%endblock%}
{% block javascripts %}
       {{parent()}}
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script> 
    <script>
      //Affichage filtres    

        $('#inputHono').click(function(e){
             e.stopPropagation();
        });

        $('#inputHono').click(function(e) {
            $('#divHonoraire').toggle();
            $('#inputHono').html('Masquer/Afficher');
        });  
        
        $('#btReglement').click(function(e){
             e.stopPropagation();
        });

        $('#btReglement').click(function(e) {
            $('#divReglement').toggle();
            $('#btReglement').html('Masquer/Afficher');
        });
        
        inputGenerateHono=document.getElementById("generateHono");
        lienGenerateHono=document.getElementById("lienGenerateHono");
        inputGenerateHono.onclick= function(){
        var montant=document.getElementById('montantHono').value;
        var typeVisite=document.getElementById('typeSeanceHono').value;
        //Si champ non rempli
        if(montant === '' )
        {
            montant = 'NC';
        }
        if(typeVisite === '')
        {
             typeVisite = 'NC';
        }   
        var pathToRedirect ="{{ path('note_honoraire',{'idVisite': visite.id, 'montant': 999, 'typeVisite': 'TypeVisiteToRemplace'})}}";
        var finalPath=pathToRedirect.replace(999, montant);
        var finalPath=finalPath.replace("TypeVisiteToRemplace", typeVisite);
        lienGenerateHono.href=finalPath;
             
        };
        
     </script>
{% endblock %}