{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{%endblock%}

{% block body %}
    {{parent()}}
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-12'>
                {# Faore zone permanente ne bas#}
                <div id ='btRetour' >
                    <a href="{{ path('menu')}}"><input type="button"  class="btn btn-primary" value="Retour"></a>
                    <a href="{{ path('ajouter_patient')}}"><input type="button" class="btn btn-primary" value="Ajouter un patient"></a>
                    <a href="{{ path('historique_visites')}}"><input type="button" class="btn btn-primary" value="Historique des visites"></a>
                    <a href="{{ path('historique_prescriptions')}}"><input type="button" class="btn btn-primary" value="Historique des prescriptions"></a>
                </div>
                <div id='blockMainMenuPatients'>
                   
                    <table class="tableCible table table-striped table-light table-bordered table-hover tableCenter">
                        
                        <thead class="thead-dark"> 
                            <tr>
                                <th> Nom<br>
                                 <input type="text" class="recherche" id="searchNom" placeholder="Chercher par nom"></th>
                                <th>Prénom<br>
                                <input type="text" class="recherche" id="searchPrenom" placeholder="Chercher par prénom"></th>
                                <th>Date de naissance</th>
                                <th>Ville</th>
                                <th>N° téléphone</th>
                                <th>Visite</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>
                            </tr>
                        </thead>
                        <tbody >
                            {% for patient in listPatients %}
                                <tr class="parent" onclick="document.location = '{{ path('fiche_patient',{'id': patient.id}) }}';" >
                                    <td  class="searchNom">{{patient.nom}} </td>
                                    <td class="searchPrenom">{{patient.prenom}} </td>
                                    <td>{{patient.dateNaiss|date('d-m-Y')}} </td>
                                    <td>{{patient.ville}} </td>
                                    <td>{{patient.telephone}}</td>
                                    <td > <a href='{{ path('visite_patient',{'idPatient':patient.id}) }}'>  <i class="fas fa-user-circle" id="glyphVisite"></i></a></td>
                                    <td> <a href='{{ path('editer_patient',{'id':patient.id}) }}'><i class="fas fa-edit" id="glyphEdit"></i></a>
                                    </td>
                                    <td > <a href='{{ path('supprimer_patient',{'id':patient.id}) }}'>  <i class="fas fa-trash-alt" id="glyphSuppr" ></i></a></td>
                                </tr>
                            </a>
                            {%endfor%}
                        </tbody>
                    </table>
                        
                </div>
            </div>
        </div>
        <div class="row">
            <div class='col-md-2 offset-5'>
                
            </div>
        </div>
    </div>
            


{%endblock%}
{% block javascripts %}
       {{parent()}}
     <script src="{{asset('assets/js/recherchePatient.js')}}">    </script>   
{% endblock %}