{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{%endblock%}

{% block body %}
    {{parent()}}
    {% set trans_day_hash = { 
        "January": "janvier", 
        "February": "février", 
        "March": "mars", 
        "April": "avril", 
        "May": "mai", 
        "June": "juin", 
        "July": "juillet",
        "August": "août", 
        "September": "septembre", 
        "October": "octobre", 
        "November": "novembre", 
        "December": "décembre"}
%}
    <div class='container-fluid'>
        <div class='row' style='font-size: 1.5em;margin-top:5vh;'>
            <div class='col-md-12'>
                <p><b>David PACE</b><br>
                    <i>Médecine Traditionnelle Chinoise<br>
                        Acupuncture, auriculothéraphie, réflexologie, digitoponcture, Shiatsu</i> </p>
            </div>
        </div>
        <div class='row'style='margin-top: 7vh;font-size: 1.5em;'>
            <div class='col-md-3 offset-9' >
                <p>Date : {{visite.date|date('d')}} {{ trans_day_hash[visite.date|date('F')]}} {{visite.date|date('Y')}}</p>
            </div>  
        </div>
        <div class='row' style='text-align: center;font-size: 1.5em;margin-top: 4vh;border:1px solid black;'>
            <div class='col-md-12'>
                <h2 style="padding-top:5px;"> <b>NOTE D'HONORAIRE</b></h2>
            </div>
        </div>
        
        <div class='row' style="font-size: 1.5em;margin-top:4vh;">
            <div class='col-md-6'>
                <p>Mme - M : {{patient.nom}} {{patient.prenom}}</p>
                <p>N° de Sécurité Sociale : </p>
                <p>Réalisation d'une séance de : {{typeVisite}}</p>
                <p>Montant de l'honoraire TTC : {{montant}} € </p>
            </div>
        </div>
        <div class='row' style="margin-top: 5vh;font-size: 1.5em;">
            <div class='col-md-6'>
                <p>Cachet et signature du praticien</p>
            </div>
            <div class='col-md-5 offset-1 '>
                <p>Signature de l'adhérent</p>
            </div>
        </div>
        <div class='row' style='margin-top: 23vh;font-size: 1.3em;'>
            <div class='col-md-12 '>
                <p>Diplomé de l'ITMTC <br>
                    Membre de la Fédération Nationale de Médecine Traditionnelle Chinoise <br>
                    <b>Membre du Syndicat Professionnel de Shiatsu NSF 330</b>
                </p>
            </div>
        </div>
        <div style="border:1px grey solid"></div>
        <div class='row' style='margin-top: 1vh;text-align:center;font-size: 1.4em;'>
            <div class='col-md-12'>
                <p>3A rue Saint Germain - 60510 Laversines<br>
                Tél. 06 74 10 57 84 <br>
                N° SIRET : 453 443 020 00020 - code NSF 330</p>
            </div>
        </div>
    </div>
    
    <div class='MenuBasCentre' class='d-print-none'>
            <a href="{{path('fiche_visite',{"idVisite":visite.id})}}"><input type="button"  class="btn btn-primary d-print-none" value="Retour"> </a>
            <a href="javascript:window.print()"><input type="button" class="btn btn-primary d-print-none" value="Imprimer"  /></a>
    </div>          
{%endblock%}