{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{%endblock%}

{% block body %}
    {{parent()}}
      {{ form_start(form) }}
    <div class='container-fluid' id='headerVisitePatient'>
        <div class='row'>
            <div class='col-md-2'id="visitePatZoneNom" >
                <p><b>{{patient.nom }} <br>{{patient.prenom}}</b></p> 
                
            </div>
            <div class='col-md-4' id="visitePatZoneObs" >
                <p> <b>Observations : </b><br> {{patient.observations}}</p>
            </div>
            <div class='col-md-4' id="visitePatZoneAllergies" >
                <p> <b> Allergies : </b><br> {{patient.allergies}}</p>
            </div>
             <div class='col-md-2' id="visitePatZoneAllergies" >
                 <p> <b> Médecin traitant : </b> 
                     {% for medecin in medecinsPatient %}
                        {% if medecin.specialite.affichageVisitePatient == 1 %} 
                          {{medecin.nom}} {{medecin.prenom}} ({{medecin.specialite.nom}})
                        {%endif%}
                 {%endfor%}</p>
                 <p> <b> Tolère acupuncture : </b> {% if patient.accepteAcup == 1 %} Oui {%else%} Non{%endif%}</p>
            </div>
        </div>
    </div>
                
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-8' >
                <div class="form-group formMotif">
                    {{ form_label(form.motif,'Motif :', {'label_attr': {'class': 'labelFormTxt'}}) }}
                    {{ form_errors(form.motif) }}
                    {{ form_widget(form.motif, { 'attr': {'class': 'form-control'} } )}}
                </div>
            </div>
            <div class='col-md-4'>
                <div class="form-group formDate">
                    {{ form_label(form.date,'Date :', {'label_attr': {'class': 'labelFormTxt'}}) }}
                    {{ form_errors(form.date) }}
                    {{ form_widget(form.date, { 'attr': {'class': 'form-control'} } )}}
                </div>
            </div>
        </div>  
                
        <div class='row'>
            <div class='col-md-6'>
                <div class="form-group formObsDoc">
                    {{ form_label(form.observations,'Observations :', {'label_attr': {'class': 'labelFormTxt'}}) }}
                    {{ form_errors(form.observations) }}
                    {{ form_widget(form.observations, { 'attr': {'class': 'form-control'} } )}}
                </div>
            </div>
            <div class='col-md-6'>
               <div class="form-group formObsDoc">
                    {{ form_label(form.document,'Document :', {'label_attr': {'class': 'labelFormTxt'}}) }}
                    {{ form_errors(form.document) }}
                    {{ form_widget(form.document, { 'attr': {'class': 'form-control insideForm', 'id':'inputNomProduit'} } )}}
                </div>
            </div>
        </div>
    </div>
    <div class="MenuBasCentre" >
            <a href="{{ path('fiche_patient',{'id': patient.id})}}"><input type="button"  class="btn btn-primary" value="Retour"> </a>
            <button class="btn btn-primary" type="submit" id="patient_Enregistrer" name="visite[Enregistrer]">Enregistrer</button>
    </div>
        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}   
    </div>
{%endblock%}
