{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{%endblock%}

{% block body %}
    {{parent()}}
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-12'>
                <h1 class="titresH1">Historique des séances de Qi Gong de  {{ patient.nom}} {{ patient.prenom}} pour le coupon n° {{idCouponQiGong}} </h1>
               
                <table class="table table-striped table-light  table-hover tableCenter">
                    <thead class="thead-dark"> 
                        <tr>
                            <th>Numéro</th>
                            <th> Date de la visite</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody >
                        {% for key,seanceQG in listSeancesPatient %}
                            <tr onclick="document.location = '{{ path('fiche_visite', { 'idVisite':patient.id }) }}'">
                                <td> {{key+1}} </td>
                                <td>{{seanceQG.date|date('d-m-Y')}} </td>
                                <td><a href='{{ path('editer_seance_QG',{'idSQG':seanceQG.id}) }}'> <i class="fas fa-edit glyphMenu" ></i></a></td>
                                <td><a href='{{ path('supprimer_seance_QG',{'idSQG':seanceQG.id}) }}'> <i class=" fas fa-trash-alt glyphMenu" </a> </td>
                            </tr>
                        </a>
                        {%endfor%}
                    </tbody>
                </table>
                <div class="MenuBasCentre" >
                    <a href="{{ path('menu_QiGong',{'page':1})}}">
                    <input type="button"  class="btn btn-primary" value="Retour">
                    </a>
                     <a href="{{ path('historique_presences_QiGong',{'idPatient':patient.id,'idCouponQG':idCouponQiGong,'page':1})}}">
                    <input type="button"  class="btn btn-primary" value="Afficher toutes les séances"></a>
                </div>
            </div>
        </div>
    </div>
{%endblock%}