{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{%endblock%}

{% block body %}
    {{parent()}}
    
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-8 offset-2'>
                <h2>Supprimer une séance </h2>
                <p>
                  Êtes-vous certain de vouloir supprimer la séance de Qi Gong du {{seance.date|date('d-m-Y')}} de {{seance.patient.nom }} {{seance.patient.prenom }} ?
                  
                </p>
                    
                <form action="{{ path('supprimer_seance_QG', {'idSQG': seance.id}) }}" method="post">
                    <a href="{{ path('historique_presences_QiGong', {'idPatient': seance.patient.id}) }}" >
                       <input type='button' class="btn btn-primary" value='Retour au menu '></input> 
                    </a>
                    <input type="submit" value="Supprimer" class="btn btn-danger" />
                  
                  {# Ceci va générer le champ CSRF #}
                  {{ form_rest(form) }}
                </form>
            </div>
        </div>
    </div>
{%endblock%}