{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{%endblock%}

{% block body %}
    {{parent()}}
    <h1 class="titresH1"> Modifier le produit </h1>
    {{ form_start(form) }}
    <div class='container-fluid formulaire'  >
        <div class='row'>
            <div class='col-md-12 '>
                <div class="form-group">
                    {{ form_label(form.nom,'Nom :', {'label_attr': {'class': 'labelFormTxt'}}) }}
                    {{ form_errors(form.nom) }}
                    {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} } )}}
                </div>
                 <div class="form-group">
                    {{ form_label(form.categorie,'Catégorie :', {'label_attr': {'class': 'labelFormTxt'}}) }}
                    {{ form_errors(form.categorie) }}
                    {{ form_widget(form.categorie, { 'attr': {'class': 'form-control'} } )}}
                </div> 
                <div class="form-group">
                    {{ form_label(form.posologie,'Posologie :', {'label_attr': {'class': 'labelFormTxt'}}) }}
                    {{ form_errors(form.posologie) }}
                    {{ form_widget(form.posologie, { 'attr': {'class': 'form-control'} } )}}
                </div>
                <div class="form-group">
                    {{ form_label(form.fonction,'Fonction :', {'label_attr': {'class': 'labelFormTxt'}}) }}
                    {{ form_errors(form.fonction) }}
                    {{ form_widget(form.fonction, { 'attr': {'class': 'form-control'} } )}}
                </div>
                <div class="form-group">
                    {{ form_label(form.obsolete,'Obsolète :', {'label_attr': {'class': 'labelFormTxt'}}) }}
                    {{ form_errors(form.obsolete) }}
                    {{ form_widget(form.obsolete, { 'attr': {'class': 'form-control'} } )}}
                </div>
            </div>
        </div>
    </div>
    <div class="MenuBasCentre"> 
        <button class="btn btn-primary" onclick="document.location = '{{ path('menu_produits') }}'">Retour</button>
        <button class="btn btn-primary" type="submit"  name="visite[Enregistrer]">Enregistrer</button>
    </div>
    <div class="bt_enregistrer"> 
    </div>
        {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}                      
        
{%endblock%}
