{% extends  'layout.html.twig' %}
{% block stylesheets %}
    {{parent()}}
{%endblock%}
{% block body %}
    {{parent()}}
    
    <button onclick="location.href='{{path('menu_materiels')}}';">Matériel</button>
    <button onclick="location.href='{{path('menu_produits')}}';">Produits prescriptibles</button>
     <button onclick="location.href='{{path('menu')}}';"> Retour</button>
{%endblock%}

