{% extends 'layout.html.twig' %}  

{% block stylesheets %}
    {{parent()}}
{%endblock%}

{% block body %}
    {{parent()}}
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-12'>
                <h1 class="titresH1"> Matériels utilisables</h1>
                {%if rechercheEffectuee is defined %}
                    <div class='center'>
                        <button class="btn btn-primary" onclick="document.location = '{{path('menu_materiels',{'page':1})}}';">Réinitialiser recherche</button>
                    </div>
                {%endif%}
                <div id="divReinitFiltre" class='center'> </div>
                <div id='blockMainMenuPatients'>
                    <table class="tableCible table table-striped table-light  table-hover tableCenter">
                        <thead class="thead-dark"> 
                            <tr>
                                <th>Nom<br>
                                <input type="text" id="searchNom" placeholder="Chercher par nom">
                                <div id="matchNom"></div>
                                <a href="" id="btSearchNom"> <button class='btRecherche' >Rechercher</button></a></th>
                                <th>Catégorie<br>
                                <input type="text" id="searchCategorie" placeholder="Chercher par catégorie">
                                <div id="matchCategorie"></div>
                                <a href="" id="btSearchCategorie"> <button class='btRecherche'>Rechercher</button></a></th>
                                <th>Description<br>
                                <input type="text" id="searchDescription" placeholder="Chercher par description">
                                <div id="matchDescription"></div>
                                <a href="" id="btSearchDescription"> <button class='btRecherche'>Rechercher</button></a></th></th>
                                <th>Quantité en stock<br>
                                <input type="text" id="searchQteStock" placeholder="Chercher par quantité en stock">
                                <div id="matchQteStock"></div>
                                <a href="" id="btSearchQteStock"> <button class='btRecherche'>Rechercher</button></a></th></th>
                                <th>Modifier</th>
                                <th>Supprimer</th>
                            </tr>
                        </thead>
                        <tbody  id="divResultat">
                            {% if listCategorieMateriels is defined%}
                                {% for categorieMateriels in listCategorieMateriels %}
                                    {% for materiel in categorieMateriels %}
                                        {% if materiel.qteStock <= 0 or materiel.qteStock is null %}
                                        <tr class="parent" style="background-color:#f37474;"onclick="document.location = '{{path('editer_materiel',{'idMateriel':materiel.id})}}';" >
                                        {% else %}
                                        <tr class="parent" onclick="document.location = '{{path('editer_materiel',{'idMateriel':materiel.id})}}';" >
                                        {% endif %}
                                            <td>{{materiel.nom}} </td>
                                            <td>{{materiel.categorie.nom}} </td>
                                            <td>{{materiel.description}} </td>
                                            <td>{{materiel.qteStock}} </td>
                                            <td><a href='{{path('editer_materiel',{'idMateriel':materiel.id})}}'><i class="fas fa-edit glyphMenu" ></i></a></td>
                                            <td><a href='{{path('supprimer_materiel',{'idMateriel':materiel.id})}}'>  <i class="fas fa-trash-alt glyphMenu"  ></i></a></td>
                                        </tr>
                                    {%endfor%}
                                {%endfor%}
                                {% else %}
                                    {% for materiel in listMateriels %}
                                        {% if materiel.qteStock <= 0 or materiel.qteStock is null %}
                                        <tr class="parent" style="background-color:#f37474;"onclick="document.location = '{{path('editer_materiel',{'idMateriel':materiel.id})}}';" >
                                        {% else %}
                                        <tr class="parent" onclick="document.location = '{{path('editer_materiel',{'idMateriel':materiel.id})}}';" >
                                        {% endif %}
                                            <td>{{materiel.nom}} </td>
                                            <td>{{materiel.categorie.nom}} </td>
                                            <td>{{materiel.description}} </td>
                                            <td>{{materiel.qteStock}} </td>
                                            <td><a href='{{path('editer_materiel',{'idMateriel':materiel.id})}}'><i class="fas fa-edit glyphMenu" ></i></a></td>
                                            <td><a href='{{path('supprimer_materiel',{'idMateriel':materiel.id})}}'>  <i class="fas fa-trash-alt glyphMenu"  ></i></a></td>
                                        </tr>
                                    {%endfor%}    
                            {% endif %}        
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
        {%if html is defined %}
        <div class='row'>
            <div class='col-md-4' >
                <div class="">{{html|raw}}</div>
            </div>
        </div>
        {%endif%}
        <div class='row'>
            <div class='col-md-12 MenuBasCentre' style="display:none" id="divFiltres">
                <div  style="margin-bottom:5px;" id="divTextFiltre"> Afficher matériels sans stock :  <a href="{{path('filtrer_materiel',{'page':1})}}"><input type="button" class="btn btn-primary" value="Appliquer"></a></div>
                <div style="margin-bottom:3px;">Trier par quantités croissante : <a href="{{path('trier_quantite_materiel',{'page':1})}}"><input type="button" class="btn btn-primary" value="Appliquer"></a></div>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12 MenuBasCentre'>
                <button class='btn btn-primary' onclick="location.href='{{path('menu_materiel')}}';">Retour</button>
                <button class='btn btn-primary' onclick="location.href='{{path('ajouter_materiel')}}';">Ajouter un matériel</button>
                <button class='btn btn-primary' id="btFiltre">Filtrer</button>
            </div>
        </div>
    </div>
            


{%endblock%}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script> 
    <script src="{{ asset('assets/js/RechercheAutoCompleteMateriels.js') }}"></script>
    <script>
    //Affichage filtres
    $("#btFiltre").on('click', function() {
        $("#divFiltres").css("display", "block");
    });
    //Recherche sur nom avec autocomplétion
    /*$("#searchNom").on('keyup', function() { // everytime keyup event
        var input = $(this).val(); // We take the input value
        if ( input.length >= 2 ) { // Minimum characters = 2 (you can change)
                var data = {input: input}; // We pass input argument in Ajax

                $.ajax({
                        type: "POST",
                        url: "../../ajax/autocomplete/Materiel/nom/update/data",
                        data: data, // Send dataFields var
                        dataType: 'json', // json method
                        timeout: 3000,
                         success: function(response){ // If success
                            $('#matchNom').html(response.resultatList); // Return data (UL list) and insert it in the <div id="match"></div>
                            value=data.input;
                            
                            $('#matchList li').on('click', function() { // When click on an element in the list
                                $('#searchNom').val($(this).text()); // Update the field with the new element
                                $('#matchNom').text(''); // Clear the <div id="match"></div>
                                value=$('#searchNom').val();
                                var pathToRedirect ='{{path('rechercher_materiel',{'Entite':'Materiel','champ':'nom','valeur':'Erreur'})}}';
                                var finalPath=pathToRedirect.replace("Erreur", value);
                                document.getElementById("btSearchNom").href=finalPath; 
                            });
                                var pathToRedirect ='{{path('rechercher_materiel',{'Entite':'Materiel','champ':'nom','valeur':'Erreur'})}}';
                                var finalPath=pathToRedirect.replace("Erreur", value);
                                document.getElementById("btSearchNom").href=finalPath; 
                         },
                         error: function() { // if error
                                 $('#matchNom').text('Erreur !'); 
                         }

                 });
         } else {
                 $('#match').text(''); // If less than 2 characters, clear the <div id="match"></div>
         }
     });
     */
    //Recherche sur nom    
    $("#searchNom").on('keyup', function() { // everytime keyup event
        value=$('#searchNom').val();
        var pathToRedirect ='{{path('rechercher_materiel',{'Entite':'Materiel','champ':'nom','valeur':'Erreur'})}}';
        var finalPath=pathToRedirect.replace("Erreur", value);
        document.getElementById("btSearchNom").href=finalPath; 
    });
    //Recherche sur catégorie 
    $("#searchCategorie").on('keyup', function() { // everytime keyup event
        value=$('#searchCategorie').val();
        var pathToRedirect ='{{path('rechercher_materiel',{'Entite':'Materiel','champ':'categorie','valeur':'Erreur'})}}';
        var finalPath=pathToRedirect.replace("Erreur", value);
        document.getElementById("btSearchCategorie").href=finalPath; 
    });
               
     //Recherche sur description    
    $("#searchDescription").on('keyup', function() { // everytime keyup event
        value=$('#searchDescription').val();
        var pathToRedirect ='{{path('rechercher_materiel',{'Entite':'Materiel','champ':'description','valeur':'Erreur'})}}';
        var finalPath=pathToRedirect.replace("Erreur", value);
        document.getElementById("btSearchDescription").href=finalPath; 
    });
    
    //Recherche sur qte stock    
    $("#searchQteStock").on('keyup', function() { // everytime keyup event
        value=$('#searchQteStock').val();
        var pathToRedirect ='{{path('rechercher_materiel',{'Entite':'Materiel','champ':'qteStock','valeur':'Erreur'})}}';
        var finalPath=pathToRedirect.replace("Erreur", value);
        document.getElementById("btSearchQteStock").href=finalPath; 
    });
    
    
    </script>
{%endblock%}