{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{%endblock%}

{% block body %}
    {{parent()}}
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-12'>
                <h1 class='titresH1'> Produits prescriptibles</h1>
                {%if rechercheEffectuee is defined %}
                    <div class='center'>
                        <button class="btn btn-primary" onclick="document.location = '{{path('menu_produits',{'page':1})}}';">Réinitialiser recherche</button>
                    </div>
                {%endif%}
                <div id='blockMainMenuPatients'>
                    <table class="tableCible table table-striped table-light table-hover tableCenter">
                        <thead class="thead-dark"> 
                            <tr>
                                <th>Nom<br>
                                <input type="text" class="recherche" id="searchNom" placeholder="Chercher par nom">
                                <a href="" id="btSearchNom"> <button class='btRecherche' >Rechercher</button></a></th>
                                <th>Catégorie<br>
                                <input type="text" id="searchCategorie" placeholder="Chercher par nom">
                                 <a href="" id="btSearchCategorie"> <button class='btRecherche'>Rechercher</button></a></th>
                                <th>Posologie</th>
                                <th>Fonction</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>
                            </tr>
                        </thead>
                        <tbody id="divResultat">
                        {% for produit in listProduits %}
                            <tr class="parent" onclick="document.location = '';" >
                                <td>{{produit.nom}} </td>
                                <td>{{produit.categorie.nom}} </td>
                                <td>{{produit.posologie}} </td>
                                <td>{{produit.fonction}} </td>
                                <td><a href='{{path('editer_produit',{'idProduit':produit.id})}}'><i class="fas fa-edit glyphMenu"></i></a></td>
                                <td><a href='{{path('supprimer_produit',{'idProduit':produit.id})}}'>  <i class="fas fa-trash-alt glyphMenu" ></i></a></td>
                            </tr>
                        {%endfor%}
                        </tbody>
                    </table> 
                </div>
                {%if html is defined %}
                <div class='row'>
                    <div class='col-md-12  '>
                        <div class="">{{html|raw}}</div>
                    </div>
                </div>
                {%endif%}
                <div class='row'>
                    <div class='col-md-12 MenuBasCentre' style="display:none" id="divFiltres">
                        <div id="divTextFiltre"> Cocher pour afficher produits obsolètes : <input type="checkbox" id="cbNnObsolete"></div>
                        <input type="button" class="btn btn-primary" id="btAppliquerFiltres" value="Appliquer">
                    </div>
                </div>
                <div class='MenuBasCentre'>
                    <a href="{{path('menu_materiel',{'page':1})}}"> 
                    <input type='button'class='btn btn-primary' value='Retour'></a>
                    <button class='btn btn-primary' onclick="location.href='{{path('ajouter_produit')}}';">Ajouter un produit</button>
                    <button class='btn btn-primary' id="btFiltre">Filtrer</button>
                </div>
            </div>
        </div>
    </div>
            


{%endblock%}
{% block javascripts %}
       {{parent()}}
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script> 
        <script> 
        //Affichage filtres    
        $('#html').click(function() {
            $('#divFiltres').hide();
        });

        $('#btFiltre').click(function(e){
             e.stopPropagation();
        });

        $('#btFiltre').click(function(e) {
            $('#divFiltres').toggle();
            $('#btFiltre').html('Masquer');
        });


        //Application des filtres
        $("#btAppliquerFiltres").on('click', function() {
            var input1 = $("#cbNnObsolete").is(":checked");
            var options = {inputNnObsolete: input1};
            $.ajax({
                type: "POST",
                url: "../../Materiel/filtrer-produits",
                data: options, // Send dataFields var
                dataType: 'json', // json method
                timeout: 3000,
                //Rafraichissement du tableau avec le résultat de la requete
                success: function(response){ // If success
                    $('#divResultat').html(response.listProduits);
                    $('#divTextFiltre').html('Cocher pour afficher les produits obsolètes : <input type="checkbox" id="cbNnObsolete">');
                },
                error: function() { // if error
                       console.log('Erreur');
                }
            });
        });
        //Recherche sur nom
        $("#searchNom").on('keyup', function() { // everytime keyup event
            var input = $(this).val(); // We take the input value
            if ( input.length >= 2 ) { // Minimum characters = 2 (you can change)

                value=$('#searchNom').val();
                var pathToRedirect ='{{path('rechercher_produit',{'Entite':'Produit','champ':'nom','valeur':'Erreur'})}}';
                var finalPath=pathToRedirect.replace("Erreur", value);
                document.getElementById("btSearchNom").href=finalPath; 
            }

        });
        
        //Recherche sur catégorie
        $("#searchCategorie").on('keyup', function() { // everytime keyup event
            value=$('#searchCategorie').val();
            var pathToRedirect ='{{path('rechercher_produit',{'Entite':'Produit','champ':'categorie','valeur':'Erreur'})}}';
            var finalPath=pathToRedirect.replace("Erreur", value);
            document.getElementById("btSearchCategorie").href=finalPath; 
        });
     </script>  
{% endblock %}