{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{%endblock%}

{% block body %}
    {{parent()}}
    
    <div class='container-fluid encartSuppr'>
        <div class='row'>
            <div class='col-md-8 offset-2'>
                <h1 class="titresH1">Supprimer un matériel </h1>
                <br>
                <p class='paragrapheExplicatif'>
                    Êtes-vous certain de vouloir supprimer le matériel : {{materiel.nom}} ?
                </p>
                    
                <form action="{{ path('supprimer_materiel', {'idMateriel': materiel.id}) }}" method="post">
                   <div class='MenuBasCentre'>
                        <a href="{{ path('menu_materiels',{'page':1}) }}" ><input type='button' class="btn btn-primary" value='Retour'></a>
                        <input type="submit" value="Supprimer" class="btn btn-danger" >
                    </div>
                {{ form_rest(form) }}
                </form>
            </div>
        </div>
    </div>
{%endblock%}