{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{%endblock%}

{% block body %}
    {{parent()}}
    <h1 class='titresH1'> Liste des médecins </h1>
    {%if rechercheEffectuee is defined %}
        <div class='center'>
            <button class="btn btn-primary" onclick="document.location = '{{path('menu_medecins',{'page':1})}}';">Réinitialiser recherche</button>
        </div>
    {%endif%}
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-12'>
                <div id='blockMainMenuPatients'>
                    <table class="table table-striped table-light table-hover tableCenter">
                        <thead class="thead-dark"> 
                            <tr>
                                <th >Nom<br>
                                <input type="text" class="recherche" id="searchNom" placeholder="Chercher par nom">
                                <a href="" id="btSearchNom"> <button class='btRecherche' >Rechercher</button></a></th>
                                <th >Prénom<br>
                                <th>Spécialité<br>
                                <input type="text" class="recherche" id="searchSpecialite" placeholder="Chercher par spécialité">
                                <a href="" id="btSearchSpecialite"> <button class='btRecherche' >Rechercher</button></a></th>
                                <th>Hôpital</th>
                                <th>Adresse</th>
                                <th>Mail</th>
                                <th>Observations</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>
                            </tr>
                        </thead>
                        <tbody >
                        {% for medecin in listMedecins %}
                            <tr class="parent" onclick="document.location = '{{ path('fiche_medecin',{'idMedecin': medecin.id}) }}';">
                                <td class="searchNom">{{medecin.nom}} </td>
                                <td>{{medecin.prenom}} </td>
                                {% if (medecin.specialite) %}
                                <td class="searchSpecialite">{{medecin.specialite.nom}} </td>
                                {% else %}<td> NC </td>
                                {% endif %}
                                <td>{{medecin.hopital}} </td>
                                <td>{{medecin.adresse}} </td>
                                <td>{{medecin.mail}}</td>
                                <td>{{medecin.observations}}</td>
                                <td><a href='{{ path('editer_medecin',{'idMedecin':medecin.id}) }}'><i class="fas fa-edit glyphMenu"></i></a></td>
                                <td><a href='{{ path('supprimer_medecin',{'idMedecin':medecin.id}) }}'>  <i class="fas fa-trash-alt glyphMenu" ></i></a></td>
                            </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
         {%if html is defined %}
        <div class='row'>
            <div class='col-md-12  '>
                <div class="">{{html|raw}}</div>
            </div>
        </div>
        {%endif%}
        <div class='MenuBasCentre' >
            <a href="{{ path('menu_parametres')}}"><input type="button"  class="btn btn-primary" value="Retour"></a>
            <a href="{{ path('ajouter_medecin')}}"><input type="button" class="btn btn-primary" value="Ajouter un médecin"></a>
            <a href="{{ path('ajouter_specialite')}}"><input type="button" class="btn btn-primary" value="Ajouter une spécialité"></a>
        </div>
    </div>

{%endblock%}
{% block javascripts %}
       {{parent()}}
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script> 
        <script>    
        //Recherche sur nom
        $("#searchNom").on('keyup', function() { // everytime keyup event
            value=$('#searchNom').val();
            var pathToRedirect ='{{path('rechercher_medecin',{'Entite':'Medecin','champ':'nom','valeur':'Erreur'})}}';
            var finalPath=pathToRedirect.replace("Erreur", value);
            document.getElementById("btSearchNom").href=finalPath; 

        });
        
        //Recherche sur catégorie
        $("#searchSpecialite").on('keyup', function() { // everytime keyup event
            value=$('#searchSpecialite').val();
            var pathToRedirect ='{{path('rechercher_medecin',{'Entite':'Medecin','champ':'specialite','valeur':'Erreur'})}}';
            var finalPath=pathToRedirect.replace("Erreur", value);
            document.getElementById("btSearchSpecialite").href=finalPath; 
        });
     </script>  
{% endblock %}