{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{%endblock%}

{% block body %}
    {{parent()}}
    
    <div class='container-fluid' id='blockSuppression'>
        <div class='row'>
            <div class='col-md-8 offset-2'>
                <h2>Supprimer une spécialité </h2>
                <br>
                <p>
                    Êtes-vous certain de vouloir supprimer la spécialité : "{{ specialite.nom }} " ?
                </p>
                    
                <form action="{{ path('supprimer_specialite', {'idSpecialite': specialite.id}) }}" method="post">
                    <a href="{{ path('menu_specialites') }}" >
                       <input type='button' class="btn btn-primary" value='Retour au menu '></input> 
                    </a>
                    <input type="submit" value="Supprimer" class="btn btn-danger" />
                  
                  {# Ceci va générer le champ CSRF #}
                  {{ form_rest(form) }}
                </form>
            </div>
        </div>
    </div>
{%endblock%}