{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{%endblock%}

{% block body %}
    {{parent()}}
    
    <div class='container-fluid' id='blockSuppression'>
        <div class='row'>
            <div class='col-md-8 offset-2'>
                <h2>Supprimer un médecin </h2>
                <br>
                <p>
                    Êtes-vous certain de vouloir supprimer le médecin : "{{ medecin.nom }} " ?
                    Cela le supprimera de toutes les fiches patient
                </p>
                    
                <form action="{{ path('supprimer_medecin', {'idMedecin': medecin.id}) }}" method="post">
                    <a href="{{ path('menu_medecins',{'page':1}) }}" >
                       <input type='button' class="btn btn-primary" value='Retour '>
                    </a>
                    <input type="submit" value="Supprimer" class="btn btn-danger" />
                  
                  {# Ceci va générer le champ CSRF #}
                  {{ form_rest(form) }}
                </form>
            </div>
        </div>
    </div>
{%endblock%}