{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{%endblock%}

{% block body %}
    {{parent()}}
    
    <div class='container-fluid' id='blockSuppression'>
        <div class='row'>
            <div class='col-md-8 offset-2'>
                <h2>Supprimer une catégorie </h2>
                <br>
                <p>
                    Êtes-vous certain de vouloir supprimer la catégorie : "{{ catProd.nom }} " ?
                    Supprimer une catégorie supprime tout les produits qu'elle contient.
                    Si ce n'est pas votre souhait, modifier d'abbord la catégorie des produits en question
                </p>
                    
                <form action="{{ path('supprimer_categorie_produit', {'idCatProd': catProd.id}) }}" method="post">
                    <a href="{{ path('menu_categories_produits') }}" >
                       <input type='button' class="btn btn-primary" value='Retour au menu '></input> 
                    </a>
                    <input type="submit" value="Supprimer" class="btn btn-danger" />
                  
                  {# Ceci va générer le champ CSRF #}
                  {{ form_rest(form) }}
                </form>
            </div>
        </div>
    </div>
{%endblock%}