{% extends  'layout.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    {# <link rel="stylesheet" href="{{asset('assets/css/login.css')}}" />#}
{%endblock%}
{% block body %}
    {{parent()}}
    
    
    <div id="blockLogin" class='container-fluid'>
        {% if error is defined and error is not null    %}
        <div class="alert alert-danger">
            <strong>{{ error.messageKey }}</strong> 
        </div>     
        {% endif %}
    
        <div class='row'>
            <div class='col-md-6 offset-3'>
                <div class="well">
                    <form action="{{ path('login') }}" method="post">
                    <div class="form-group">
                      <label for="username">Nom d'utilisateur</label>
                      <input type="text" class="form-control" id="username" name="_username" placeholder="Saisir le nom d'utilisateur"  value="{% if last_username is defined%} {{last_username}} {%endif%}">
                    </div>
                    <div class="form-group">
                      <label for="password">Mot de passe</label>
                      <input type="password" class="form-control" id="password"  name="_password" placeholder="Saisir mot de passe">
                    </div>
                   
                    <button id="btSubmitLogin" type="submit" class="btn btn-primary">Valider</button>
                 </form>
                </div>
            </div>
        </div>
    </div> 
{%endblock%}

