{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    {# <link rel="stylesheet" href="{{asset('assets/css/login.css')}}" />#}
{%endblock%}

{% block body %}
    {{parent()}}
    
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-8 offset-2'>
                <div id='blockMainMenu'>
                    <div class='row'>
                        <div class='col-md-6'>
                            <div class="elementBlockMainMenu">
                                <div class="elementBlockMainMenu">
                                    <a href="{{ path('menu_QiGong',{'page':1})}}"> 
                                        <img src="{{asset('assets/img/icone_Qigong.png')}}" class="iconeMenu"></a>
                                    </a>
                                    <h4> Qi Gong</h4>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-6'>
                            <div class="elementBlockMainMenu">
                                <a href="{{ path('menu_materiel')}}"> 
                                    <img src="{{asset('assets/img/icone_stocks.png')}}" class="iconeMenu">
                                </a>
                                <h4>Matériel </h4>
                            </div>
                        </div>  
                    </div>
                    <div class='row'>
                        <div class='col-md-12'>
                            <div class="elementBlockMainMenuCentre">
                                <a href="{{ path('menu_patients',{'page':1})}}"> 
                                    <img src="{{asset('assets/img/icone_patient.png')}}" class="iconeMenuCentre">
                                </a>
                                <h4>Patients </h4>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-6'>
                            <div class="elementBlockMainMenu">
                                <a href="{{ path('menu_comptabilite')}}"> 
                                    <img src="{{asset('assets/img/icone_comptabilite.png')}}" class="iconeMenu">
                                </a>
                                <h4>Comptabilité</h4>
                            </div>
                        </div>        
                        <div class='col-md-6'>
                            <div class="elementBlockMainMenu">
                                <a href="{{ path('menu_parametres')}}"> 
                                    <img src="{{asset('assets/img/icone_parametres.png')}}" class="iconeMenu">
                                </a>
                                <h4> Paramètres</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}