{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{%endblock%}

{% block body %}
    {{parent()}}
    <h1 class="titresH1"> Modifier le réglement</h1>
    {{ form_start(form) }}
        <div class='container-fluid formulaire'  >
            <div class='row'>
                {# Colonne de gauche #}
                <div class='col-md-12 '>
                    <div class="form-group">
                        {{ form_label(form.origine) }}
                        {{ form_errors(form.origine) }}
                        {{ form_widget(form.origine, { 'attr': {'class': 'form-control'} } )}}
                        
                        {{ form_label(form.intitule) }}
                        {{ form_errors(form.intitule) }}
                        {{ form_widget(form.intitule, { 'attr': {'class': 'form-control'} } )}}
                        
                        {{ form_label(form.montant) }}
                        {{ form_errors(form.montant) }}
                        {{ form_widget(form.montant, { 'attr': {'class': 'form-control'} } )}}
                    
                        {{ form_label(form.date) }}
                        {{ form_errors(form.date) }}
                        {{ form_widget(form.date, { 'attr': {'class': 'form-control'} } )}}
                        
                        {{ form_label(form.nomBanque) }}
                        {{ form_errors(form.nomBanque) }}
                        {{ form_widget(form.nomBanque, { 'attr': {'class': 'form-control'} } )}}
                    
                        {{ form_label(form.numCheque) }}
                        {{ form_errors(form.numCheque) }}
                        {{ form_widget(form.numCheque, { 'attr': {'class': 'form-control'} } )}}
                        
                        {{ form_label(form.encaisse) }}
                        {{ form_errors(form.encaisse) }}
                        {{ form_widget(form.encaisse, { 'attr': {'class': 'form-control'} } )}}
                    </div>
                </div>
            </div>
        </div>
        <div class="bt_enregistrer"> 
            <button class="btn btn-primary" type="submit" id="visite_Enregistrer" name="visite[Enregistrer]">Enregistrer</button>
        </div>
        {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}                      
        
{%endblock%}
