{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{%endblock%}

{% block body %}
    {{parent()}}
    <div class='container-fluid encartFicheReglement'>
        <div class='row'>
            <div class='col-md-12'>
                <h1 class="titresH1"> Réglement de {{patient.prenom}} {{patient.nom}} de la séance du {{visite.date|date('d-m-Y')}}</h1>
                
                <p><b class="labelFormTxt">Intitulé : </b> {{reglement.intitule}}</p>
                <p> <b class="labelFormTxt">Montant : </b>{{reglement.montant}}</p>
                <p><b class="labelFormTxt">Mode de réglement : </b>{{reglement.modeReglement}}</p>
                <p><b class="labelFormTxt">Date : </b>{{reglement.date|date('d-m-Y')}}</p>
                {% if reglement.modeReglement == "Chèque" %}
                <p><b class="labelFormTxt">Nom de la banque : </b>{{reglement.nomBanque}}</p>
                <p><b class="labelFormTxt">N° de chèque : </b>{{reglement.numCheque}}</p>
                {%endif%}
                <div class="MenuBasCentre">
                    {%if retourPath == 'fiche_visite'%}
                        <a href="{{path('fiche_visite',{'idVisite':retourID})}}"> 
                        <input type='button' class="btn btn-primary" value='Retour'></a> 
                    {%else%}
                        <a href="{{path('menu_reglements',{'page':1})}}"> 
                        <input type='button' class="btn btn-primary" value='Retour'></a> 
                    {%endif%}
                    
                </div>
            </div>
        </div>
    </div>
{%endblock%}